{% load static %}
<footer class= "text-center bg-ligth py-2 border-top">
        <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-muted"  href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">Translation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">Profile</a>
        </li>
      </ul>

      <img class="d-block mx-auto" src="{% static 'images/logo.png' %}" alt="logo" width="30px" height="30px" >

      <p>Copyright &#169; <span id="year"></span></p>
</footer>